@{
    Layout = null;
}



<html>
<head>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div class="h-100 row align-items-center">
        <div align="center" class="col-12">
            <div align="center" class="col-12">
                <div class="h1 spinner-grow spinner-grow-lg text-primary"></div>
            </div>
            <div align="center" class="col-12" style="font-family: arial !important;">
                <label class="h1">Facebook login...</label>
            </div>
        </div>
    </div>

</body>
</html>